test-output/old/Default suite
test-output/junitreports	
test-output/old/AutoII
test-output/old/Carbon Intensity Test Cases
FailureOutput/Screenshots/PriceCast
/bin/
.classpath
.settings/org.eclipse.jdt.core.prefs
.png
/target/
