TestReport/
test-output/old/Default suite
test-output/junitreports	
test-output/AutoII
test-output/Carbon Intensity Test Cases
test-output/old/AutoII
test-output/old/Carbon Intensity Test Cases
FailureOutput/Screenshots/PriceCast
target/
/bin/
.classpath
.settings/org.eclipse.jdt.core.prefs
.png
.xml
/AutoII.xml
test-output
